node_modules
.next
out
.env
.env.local
terraform.tfstate*
.terraform
tfplan
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
infra/*.key
infra/*.crt
infra/*.pem
*.cer
*.pfx
*_ssl_certificate_INTERMEDIATE/
scratch/
